.product-main {
    margin: 0 auto 0 auto;
    max-width: 1230px;
    flex-direction: row;
}


.pro-left {
    width: 290px;
    padding: 0px 0 0 20px;
    margin: 50px 0;
    z-index: 1;
}

.box-cat {
    margin: 0 0 20px 0;
    display: inline-block;
    width: 100%;
    border: 1px solid #323334;
    background-image: linear-gradient(146deg, #232324 3%, #1b1c1d 96%);

}

.box-header {
    border-bottom: 1px solid #323334 !important;
    padding: 15px;
    margin-bottom: -1px;
}

.box-header-link {
    color: #fff;
    background: transparent;
    padding: 0;
    text-align: left;
    position: relative;
    border: 0;
    display: block;
}

.box-header-link>span {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.box-arrow {
    float: right;
    width: 20px !important;
    height: 20px !important;
    color: lime;
}

.box-body-content {
    line-height: 25px;
    padding: 5px 10px 15px 15px;
}

.box-body-content>li {
    position: relative;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.stock-checkbox {
    height: 20px;
    width: 20px;
}

.pro-right {
    z-index: 1;
    width: calc(100% - 290px);

    margin-top: 50px;
}

.right-inner {
    padding: 0px 0px 12px 8px;
}

.pro-content {
    display: flex;
    flex-wrap: wrap;
}

.pro-content>li {
    width: 33.333%;
    padding: 0 8px 16px 8px;
    min-height: 100px;
    position: relative;
    z-index: 1;
    height: auto;
}

.pro-inner {
    border: 1px solid #323334;
    position: relative;
    display: flex;
    margin: 0;
    background-color: #161617;
    height: 100%;
    flex-flow: column nowrap;
}

.pro-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.pro-top {
    flex: 0;
    padding: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.pro-middle {
    flex: 0;
    text-align: left;
    width: 100%;
}

.pro-bottom {
    display: flex;
    flex: 0;
    width: 100%;
    padding: 0 20px 20px 20px;
    align-items: flex-end;
    margin-top: auto;
    flex-wrap: wrap;
}

.pro-image {
    position: relative;
    overflow: hidden;
}

.pro-image-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.middle-content {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.pro-cont {
    width: 100%;
    z-index: inherit;
    position: relative;
    margin: 0;
    padding: 20px;
}

.pro-name {
    max-height: 45px;
    min-height: 45px;
    margin-bottom: 18px;
    display: block;
    font-size: 18px;
    line-height: 1.25;
    color: #fff;
    font-weight: normal;

}

.pro-ozel {
    max-height: 128px;
    margin-bottom: 20px;
    overflow: hidden;
    color: #a4a4a5;
    font-size: 12px;
    text-overflow: ellipsis;
}

.pro-ozel>ul {
    max-height: 10.5em;
    position: relative;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pro-ozel>ul>li {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    list-style-position: inside;
    color: #a4a4a5;
    opacity: 1;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.pro-price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    white-space: nowrap;
    padding: 0 0 15px 0;
}

.price-wrapper {
    display: block;
    vertical-align: middle;
    flex: auto;
}

.price-inner {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    margin-top: 10px;
}

.pro-basket {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.basket-detail {
    position: relative;
    z-index: 2;
    flex: 100%;
    padding-top: 20px;
}

.basket-detail-link {
    width: 100%;
    border: 1px solid #26df2e;
    display: block;
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.basket-detail-link>span {
    color: #fff;
    font-size: 16px;
    display: block;
    letter-spacing: 1px;
    line-height: normal;
    height: 48px;
    padding: 12px 10px;
}

.box-arrow.open {
    transform: rotate(90deg);
}

.box-arrow.close {
    transform: rotate(0deg);
}

.mobile-tab {
    display: none;
}

@media (max-width: 960px) {
    .pro-left {
        display: none;
    }

    .pro-right {
        width: 100% !important;
        margin-top: -6px;
    }

    .right-inner {
        padding: 0;
        width: 100%;
    }

    .pro-content {
        padding: 31px;
    }

    .pro-content>li {
        width: 50%;
    }

    .mobile-tab {
        padding-left: 0;
        padding-right: 0;
        display: block;
    }

    .mobile-buttons {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin: 0px;
        padding: 0 40px !important;
        background: #000000;
        border-top: 1px solid #323334;
    }

    .filter-btn {
        border: 1px solid #323334;
        border-bottom: 1px solid transparent;
        margin-right: -1px;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: relative;
        top: -1px;
    }

    .sort-btn {
        border: 1px solid #323334;
        border-bottom: 1px solid transparent;
        left: -1px;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: relative;
        top: -1px;
    }

    .btn-title {
        padding: 10px 13px;
        text-align: left;
        color: #a4a4a5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left-filters {
        left: 0;
        width: calc(100% - 60px);
        max-width: 358px;
        border: 0;
        height: 100%;
        position: fixed !important;
        z-index: 20;
        top: 0;
        padding: 0;
        margin: 0;
        display: block;
        background-color: #15161a;
        z-index: 99999;
    }

    .left-filters-inner {
        padding: 0;
        position: absolute;
        width: 100%;
        height: calc(100% - 50px);
        top: 0;
        left: 0;
        overflow: auto;
    }

    .bottom-btns {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .btns-inner {
        justify-content: space-between;
        padding: 5px;
        border: 1px solid #323334;
        background: #000000;
        display: flex;
    }

    .btns-close .btns-uygula {
        background: #000000;
        color: #fff;
        border-radius: 0;
        flex: 1;
    }

    .bottom-span {
        font-size: 20px;
        color: #fff;
    }


}