
.sub-menu:hover .sub-nav {
    display: block;
    max-height: 430px;
}

.sub-wrapper-ul {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
}

.sub-wrapper-li {
    max-width: 130px !important;
    pointer-events: all;
    transform: translate3d(0px, 0, 0);
}

.sub-wrapper-li:hover span{
    color: #00FF00;
}


.catdata-name:hover{
    color: #00FF00;
}

@media (max-width: 960px) {
    .bottom-tab {
        display: none;
    }

    .sub-wrapper-li {
        max-width: 130px !important;
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
        text-transform: uppercase;
        
    }

    .sub-wrapper-link {
        position: relative;
        align-items: center;
        text-align: left;
        padding: 10px 30px;
        display: flex;
        font-size: 12px !important;

    }

    .sub-wrapper-link>span {
        margin-left: 30px !important;
        position: static;
        width: auto;
        font-size: 13.5px;
        
    }
}

.catdata-name::after {
    content: '';
    display: block;
    width: 0; 
    height: 1px;
    background-color: transparent; 
  }
  

  @keyframes loadingBar {
    from {
      width: 0;
    }
    to {
      width: 30%;
    }
  }
  
 
  .catdata-name:hover::after {
    content: '';
    display: block;
    width: 30%; 
    height: 1px;
    background-color: #00FF00;
    animation: loadingBar 0.4s linear;
  }