
.cmnt-main {
    margin-top: 50px;
}

.cmnt-container {
    margin-bottom: 100px;
    padding: 0 100px;
    max-width: 1410px;
    z-index: 1;
}

.cmnt-title {
    text-align: left !important;
}

.cmnt-title h3 {
    font-size: 36px !important;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.more-cmnt {
    top: 45%;
    right: 20px;
    font-size: 16px !important;
}

.cmnt-swipper-main {
    z-index: 11;
}

.cmnt-swipper-main ul {
    z-index: 1;
}

.cmnt-swipper-main ul li {
    width: 300px;
    min-height: 100px;
    z-index: 1;
}

.cmnt-inner {
    background: none !important;
    border: 1px solid #323334;
    transition: all 0.2s ease;
    flex-flow: column nowrap;
}

.cmnt-inner:hover {
    border: 1px solid #00ff00;
}

.cmnt-mask {
    background: none !important;
}

.cmnt-mask>div {
    flex: 0;
}

.cmnt-image {
    min-height: 130px;
}

.cmnt-link {
    margin: 0 auto;
}

.cmnt-content {
    flex: 0;
}

.cmnt-content-mask {
    
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: flex-end;
}

.cmnt-content-mask>div {
    width: 100%;
}

.cmnt-content-bottom {
    z-index: inherit;
    margin-bottom: 0 !important;
    padding: 0 15px 15px 15px !important;
}


.mons-prd-name {
    color: #00ff00 !important;
    overflow: hidden;
    max-height: none !important;
    min-height: 0 !important;
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 18px;
    display: block;
    font-size: 18px;
    line-height: 1.25;
}

.mons-prd-name-content {
    font-size: 15px;
    color: white;
    text-align: left;
}

.mons-prd-name-cat {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px !important;
    color: #a4a4a5 !important;
    line-height: 1.6 !important;
    margin-bottom: 0 !important;
    max-height: 70px !important;
    text-align: left;
}


@media(max-width: 960px) {
    .more-cmnt {
        display: none !important;
    }

    .cmnt-container {
        margin-bottom: 40px !important;
    }

}