.main-list ul {
  padding: 20px 20px 20px 20px;
  column-gap: 20px;
}

.main-list ul li.single-banner {
  flex: 1 100%;
}


.center-img-div {
  z-index: 1;
}


.bnr-wrapper {
  top: auto;
  bottom: 5%;
  transform: none;
  right: 0;
  padding-right: 5%;
  max-width: 50%;
  z-index: 2;
}

.main-title-1 {
  flex: 100%;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.38;
  margin-bottom: 12px;

}

.main-title-2 {

  flex: 100%;
  font-size: 24px;
  margin-bottom: 33px;
}

.bnr-desc {
  flex: 100%;
  font-size: 16px;
  margin-bottom: 46px;

}

.primary {
  font-size: 24px;
  margin-right: 72px;

}


@media (max-width: 960px) {
  .main-list ul {
    flex-wrap: wrap;

  }

  li.single-banner {
    flex: 1 100%;
  }

  .main-list ul li.single-banner .bnr-wrapper {
    position: relative;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    width: 100%;
    max-width: none;
    margin: 30px 0;

  }

  .main-title-1 {
    font-size: 30px;
  }

  .main-title-2 {
    margin-bottom: 10px !important;
  }

  .bnr-desc {
    margin-bottom: 30px;
  }

  .bnr-btn-inc {
    display: flex;

    flex-wrap: wrap;
  }

  .primary {
    flex: 100%;
  }
}