li {
  position: relative;
  overflow: hidden;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #13e700;
  animation: altiniCiz 2s linear forwards;
  transition: width 0.5s;
}

li:hover::before {
  width: 100%;
}

@keyframes altiniCiz {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.credit{
  border-bottom: 4px solid #00FF00;
}
  

.footer-first{
  
  border-top: 1px  solid #323334;
  border-bottom: 1px  solid #323334;
  max-width: 1240px;
  width: 100%;
  
}