.social-icon {
  display: inline-block;
  flex: none !important;
  font-size: 32px;
}

.social-link {
  background-color: #161617;
  margin-right: 8px;
  padding: 12px;
}


.ftr-menu ul {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.ftr-menu ul li {
  padding: 0 0 5px 0;
  position: relative;
  line-height: 1;
  color: #a4a4a5;
  display: flex;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;

}


.ftr-menu-title {
  color: white !important;
}

.ftr-menu ul li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #00ff00;
  visibility: hidden;
  transition: width 0.9s ease;
}

.ftr-menu ul li:hover::before {
  visibility: visible;
  width: 100%;
}

.ftr-menu ul li:hover {
  color: white;
}


@media (max-width: 960px) {
  .show-more {
    visibility: visible;
  }

  .group-three {

    margin: 0 0 10px 0;
    flex-wrap: wrap;

  }

  .send-message {
    margin: 0 0 10px 0;

  }

  .site-footer-mesaj {
    padding: 0 40px;
  }

  .contact-number {
    margin: 0 0 10px 0;
  }

  .group-three>div {
    flex: 1 100%;
  }

  .follow-us {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 10px 0;
  }

  .follow-us>span {
    flex: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .ftr-all {
    background: #1B1C1D;
    padding: 0;
    position: static;
  }

  .ftr-link {
    padding: 0px;
  }

  .ftr-div {
    width: 100%;
  }

  .ftr-menu {
    display: block;
    padding: 0 40px;
  }

  .ftr-menu ul {
    padding-left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    flex-wrap: wrap;
    border-bottom: 1px solid #323334;
  }

  .ftr-menu ul li {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    align-items: center;
    font-size: 20px;
    text-align: left;

  }


}