.img-logo {
    height: 65px;
    width: auto;
}

.input-sec {
    flex-grow: 1;
}

.hamburger{
    display: none;
}

.mini-tab-item:hover{
    color: #00FF00;
}


@media (max-width: 960px) {
    .mini-tab {
        display: none!important;
    }
    .img-logo {
        height: 30px;
        width: auto;
        padding-left: 15px;
    }

    .input-wrapper {
        display: none!important;
    }
    .hamburger{
        display: block;
        padding-left: 3px!important;
    }
    
}

