.nav-main2 {
    height: calc(100% - 50px) !important;

    overflow-y: auto !important;
    z-index: 10;
    position: fixed;
}

.mobile-element2 {
    z-index: 7;
    padding: 0px 60px 0px 40px;
    border-bottom: 1px solid #323334;
    height: 103px;
}

.mb-logo {
    max-width: 160px;
}

.ext-pay-header {
    line-height: normal;
    font-size: 12px;
    height: inherit;
    border: 1px solid #49494a;
}

.ext-pay-header>span {
    position: static;
    margin: 0;
    white-space: nowrap;
}


.catdata-name2 {
    
    letter-spacing: 0.4px;
    font-size: 13.5px !important;
    color: #fff !important;
    padding: 15px 40px;
    display: block;


    
}

.catdata-name2.open{
    background: #161617;
    height: auto;
    text-align: left;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    background-image: -o-linear-gradient(349deg, #161617, #323334);
    background-image: linear-gradient(101deg, #161617, #323334);
}

.mobile-sub-icon{
    color: #00ff00;
    position: absolute;
    top: 50%;
    left: inherit;
    right: 20px;
    bottom: inherit;
    margin: -10px 0 0 0;
    width: 15px;
    height: 15px;
    opacity: 1;
    visibility: visible;
    display: inline-block !important;
}

.mobile-sub-icon.open {
    transform: rotate(90deg);
  }



.mobile-contact {
    border-top: 1px solid #323334;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
}


.catdata-name3{
    width: 100%;
    float: left;
    text-align: left;
    letter-spacing: normal;
    font-size: 13.5px !important;
    color: #a4a4a5 !important;
    padding: 15px 30px 15px 40px;
}


.mobile-footer {
    z-index: 3;
}

.mainpage {
    display: block;
    border-right: 1px solid #323334;
    width: 100%;
    border: 0;
    background: #131414;
    border-top: 1px solid #323334;
    border-right: 1px solid #323334;
}

.f-link {
    color: #fff;
    font-size: 12px !important;
    text-align: center;
    padding: 16px 10px;
    border: 0;
    letter-spacing: 1px;
    position: relative;
    display: block;

}

.mobile-sub-nav{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background: #161617;
    max-height: none !important;
    position: static;
    overflow: hidden;
    display:hidden;
}

.mobile-nav-wrapper{
    display: block; 
}

.mobile-nav-links{
    display: block;
    height: auto !important;
    padding: 0;
}

.mobile-wrapper{
    flex-wrap: wrap;
    width: 100%;
    overflow-y:auto ;

}

.sub-menu2{
    position: relative;
    border-bottom: 1px solid #161617;
    
}


.mobile-sub-nav {
    display: none;
  }
  
  /* "open" sınıfı uygulandığında öğeyi görünür yapın */
  .mobile-sub-nav.open {
    display: block;
  }