.s-container {
    background: #000000;
    z-index: 1;
    box-shadow: 2px 3px 2px -1px rgba(0, 0, 0, 0.08);
    position: relative;
    max-width: 100%;
    width: 100%;
}


.s-tab {
    padding: 0px;
    max-width: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.s-main {
    display: inline-block;
    vertical-align: middle;
    position: static;
}

.s-nav-main {
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.s-nav-main ul {
    width: 100%;
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.s-nav-main ul li{
    display: inline-block;
    vertical-align: middle;
}

.s-link{
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 15px 0px;
    position: relative;
    height: 100%;
    color: #fff;
    transition: color 0.35s ease-in-out;
}

.sub-nav{
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #131414;
    overflow: hidden;
    max-height: 0;
}

.sub-nav-wrapper{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto 0 auto;
    display: flex;
    position: relative;
}

.sub-nav-links{
    text-align: left;
    max-width: 1240px;
    margin: 0 auto;
    /* height: 430px; */
    padding: 0px;
    width: 100%;
    display: flex;
}

.sub-nav-lvl2{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sub-nav-list{
    z-index: 11;
    position: relative;
    /* overflow: hidden; */
    width: 100%;
}

.sub-swipper{
    align-items: center;
    justify-content: center;
    transform: translate3d(0px, 0, 0);
    position: relative;
    height: 100%;
    z-index: 1;
}

.sub-li{
    pointer-events: all;
    opacity: 1;
    cursor: pointer;
    flex-shrink: 0;
    height: 100%;
    position: relative;

}

.sub-li-li{
    color: #000;
    font-size: 14px;
    display: block;
    letter-spacing: 0.4px;
    position: relative;
    padding: 0;
}



@media (max-width: 960px){
    .s-container{
        display: none;
    }
}