.link {
    position: relative;
    overflow: hidden;
}

.link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #13e700;
    animation: altiniCiz 2s linear forwards;
    transition: width 0.5s;

}

.link:hover::before {
    width: 100%;
}

@keyframes altiniCiz {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.sticky-div {
    border-image: linear-gradient(to left, #d51646, #9d0574, #830a58, #bd034b, #bb3b39, #bd393a, #ba044f, #96023c, #51061c);
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image-slice: 1;
}

.dropdown{
position: relative;
  display: inline-block;
}

.link{
    cursor: pointer;
}

.dropdown-content{
    display: none;
  position: absolute;
  width: 100%!important;
  height: 100%!important;
  left: 0;
  right: 0;
 
}

.dropdown:hover .dropdown-content {
    display: block;
    display: flex;
}




